@import "reset.css";
@import "general.css";
@import "colors.css";

/* Home */
.container{
    margin: 0 auto;
    padding: 0 10px;
}

.button{
    background-color: rgba(8, 11, 18, 0.7);
    border: 1px solid white;
    padding: .625rem 1.25rem;
    border-radius: 3.125rem;
}

/* Header */
header .container {
    background-color: rgba(8, 11, 18, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-left: 200px;
}

header .container .upgrade{
    display: flex;
    justify-content: end;
}

header .container a {
    color: white;
    display: inline-block;
    text-align: center;
    margin: .625rem 0;
    text-decoration: none;
    font-weight: 500;
    font-size: small;
}

header a:hover {
    content: "";
    transform: scale(1.1);
}

/* Fine Header */

/* Main */

main {
    display: flex;
}

.main-section{
    width: 100%;
    display: flex;
}

/* Aside */

aside {
    width: 200px;
    background-color: black;
    padding: 0 .9375rem;
    min-height: 400px;
    display: flex;
    flex-direction: column;
}

.logo {
    padding: .9375rem;
}

.logo img{
    height: 30px;
}

.logo img:last-child{
    display: none;
}

.gray-filtered {
    filter: invert(0.5) sepia(70) saturate(0) hue-rotate(0);
}

.menu a:hover {
    content: "";
    color: white;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    color: gray;
    font-weight: 600;
    font-size: 12px
}

.menu img {
    width: 25px;
    height: 25px;
}

.menu-playlist {
   flex-grow: 1;
    height: 100%;
    overflow:auto
}

.menu-playlist .plus {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    width: 30px;
    height: 30px;
    margin-right: .625rem;
}

.menu-playlist h4 {
    color: white;
    margin-top: 1.25rem;
    margin-bottom: .3125rem;
}

.menu-playlist li {
    line-height: 30px;
}

.menu-playlist a {
    text-decoration: none;
    font-weight: 500;
    color: gray;
    font-size: 12px
}

.menu-playlist a:hover {
    content: "";
    color: white;
}

.row-playlist {
    display: flex;
    align-items: center;
}
.user {
    bottom: 5px;
    left: 15px;
    right: 15px;
}


.user hr {
    margin: .3125rem 0;
    border: gray 1px solid;
}

.install {
    display: flex;
}

.install img{
    width: 15px;
    height: 15px;
    margin-right: .625rem;
}

.install a{
    color: gray;
    text-decoration: none;
    font-size: 12px;
}

.install a:hover{
    content: "";
    color: white;
}

.personal-profile {
    display: flex;
}

.profile-icon {
    background-color: gray;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    margin-right: .625rem;
}

.personal-profile img{
    border-radius: 100px;
}

.personal-profile a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 12px;
    line-height:28px
}

/* Fine Aside */

/* First Section */

main {
    height: calc(100vh - 100px);
}

main .container {
    background-color: var(--background-color);
    width: calc(100% - 200px);
    height: 100%;
    overflow: auto;
}

main .first-section ul {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 1.25rem;
}

main .first-section li {
    list-style: none;
    display: inline;
    padding: 10px 5px;
}

main .first-section a {
    text-decoration: none;
    color: lightgray;
    font-size: small;
}

main .first-section a div {
    height: .1875rem;
    color: lightgreen;
    width: 25%;
    display: inline-block;
}

main .first-section a:hover {
    content: "";
    color: white;
}

main .container h2 {
    color: white;
    font-weight: 700;
    font-size: large;
}

main .first-section h2 {
    color: white;
    font-weight: 700;
    font-size: large;
    margin-bottom: 1.25rem;
}

.first-section {
    margin-top: 3.625rem;
}

.first-section .row-album {
    margin-bottom: 1.875rem;
}

.container .row-album {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.row-album .col-album {
    width: calc((100% / 6) - 20px);
    margin: 0 10px;
}

.first-section .row-album .song-description{
    width: 100%;
}


.container .row-album .col-album img {
    width: 100%;
    object-fit: cover;
}

.container .row-album .col-album h4 {
    color: white;
    font-weight: 700;
    text-align: center;
}

.container .row-album .col-album h6 {
    color: darkgray;
    font-weight: 600;
    font-size: small;
    text-align: center;
}

/* End First Section */

/* Second Section */
main .second-section h6 {
    margin-top: .625rem;
    margin-bottom: 1.25rem;
    color: darkgray;
    font-weight: 600;
    font: size 8px;
}
/* End Second Section */

/* Third Section */
main .third-section .col-album img {
    border-radius: 50%;
}

main .third-section h6 {
    margin-top: .625rem;
    margin-bottom: 1.25rem;
    color: darkgray;
    font-weight: 600;
    font: size 8px;
}

.second-section {
    padding: 1.875rem 0;
}

/* End Third Section */

/* Fine Main */

/* Footer */
.footer-player {
    height: 100px;
    background-color:#282828;
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.row-player {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.col-left-player {
    width: 25%;
    display: flex;
}

.col-left-player .song-cover {
    display: flex;
    align-self: center;
    height: 80%;
    margin-left: .9375rem; 
}

.col-left-player img {
    height: 60%;
    margin-right: .625rem;
    align-self: center;
}

.col-left-player .song-name {
    align-self: center;
}

.col-left-player .song-name h5 {
    color: white;
}

.col-left-player .song-name h6 {
    color: gray;
}

.col-left-player .song-name h6:hover {
    content: "";
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.col-left-player .add-favorite {
    align-self: center;
}

.col-left-player .add-favorite a{
    margin-left: 10px;
    text-decoration: none;
}

.col-left-player .add-favorite i{
    color: #707070;
}

.col-left-player .add-favorite i:hover{
    content: "";
    color: white;
}

.col-center-player {
    width: 30%;
}

.col-center-player .player-button {
    display: flex;
    width: 100%;
    justify-content: center;
}


.col-center-player .player-button button {
    background-color: transparent;
    border: none;
    margin: 10px 15px;
    cursor: pointer;
}


.col-center-player .player-button button:nth-child(3) {
    font-size: 30px;
}

.col-center-player .player-button button:nth-child(3) i:hover {
    content: "";
    transform: scale(1.2);
    cursor: pointer;
}

.col-center-player .timeline {
    display: flex;
    justify-content: space-between;
}

.col-center-player .timeline .minute{
    color: white;
}

.col-center-player .timeline .full-time-song{
    background-color: gray;
    width: 100%;
    margin: 0 .9375rem;
    height: 5px;
    align-self: center;
    border-radius: 10px;
}

.col-center-player .timeline .progressive-song-bar:hover{
    content: "";
    background-color: lightgreen;
    cursor: pointer;
}

.col-center-player .timeline .progressive-song-bar::before{
    
}

.col-center-player .timeline .progressive-song-bar{
    background-color: white;
    width: 33%;
    height: 100%;
}

.col-right-player {
    width: 25%;
    display: flex;
}

.col-right-player .option-song {
    width: 50%;
    align-self: center;
    display: flex;
    justify-content: end
}

.col-right-player .option-song button{
    background-color: transparent;
    border: none;
    margin-left: 15px;
    font-size: 1rem;
}

.col-right-player .full-volume-song {
    background-color: gray;
    width: 50%;
    margin: 0 .9375rem;
    height: 5px;
    align-self: center;
    border-radius: 10px;
}

.progressive-volume-bar{
    background-color: white;
    width: 33%;
    height: 100%;
}

.progressive-volume-bar:hover{
    content: "";
    background-color: lightgreen;
    cursor: pointer;
}














/* Debug */

.debug {
    height: 90vh;
    border: 1px;
}

.debug-footer {
    height: 10vh;
    background-color:#282828;
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}








/* MEDIAQUERY FOR RESPONIVE */

/* Desktop-First */

/* TABLET */
@media screen and (max-width: 1100px) {
    .row-album .col-album {
        width: calc((100% / 4) - 20px);
        margin: 0 10px;
    }
}

/* MOBILE */
@media screen and (max-width: 700px) {
    .row-album .col-album {
        width: calc((100% / 2) - 20px);
        margin: 0 10px;
    }
}

/* MOBILE PICCOLO */
@media screen and (max-width: 600px) {
    aside {
        width: 50px;
        padding: 10px 0;
        align-items: center;
    }
    .logo img:first-child{
        display: none;
    }
    .logo {
        padding: 0 0;
        margin-bottom: 5px;
    }
     
    .logo img:last-child{
        display: block;
    }

    .menu ul li a span {
        display: none;
    }

    .menu-playlist h4 {
        display: none;
    }
    .menu-playlist ul {
        display: none;
    }
    .user hr {
        display: none;
    }

    .install a {
        display: none;
    }

    .install img {
        transform: scale(1.5);
        margin: 13px 3px;
    }
    .personal-profile a {
        display: none;
    }

    .profile-icon {
        margin: 0 0;
        text-align: center;
    }

    main .container {
        width: calc(100% - 50px);
    }

    header .container {
        margin-left:50px
    }
}



